In [108]:
import requests
import pandas as pd


headers = {
    'accept': 'application/json',
    'Authorization': 'Bearer 63c99676f8d0f9304b0cdf3f|1c1d6eb97169c8eaef44d5dadc2d0f66'
}

params = {
    'lat_ne': '43.16428113592413',
    'lon_ne': '-89.27314688519613',
    'lat_sw': '43.01322538249216',
    'lon_sw': '-89.53534080698618',
    'required_data': 'temperature',
    'filter': 'false',
}

response = requests.get('https://api.netatmo.com/api/getpublicdata', params=params, headers=headers).json()

In [109]:
def get_module_ids(response):
    body = response.get('body')
    df = pd.DataFrame(body)
#     df['module_id'] = [k if 'NAModule1' in v else 'NA' for k,v in value.items() for value in df['module_types'].values]
    df['module_id'] = 'NA'
    df['module_type'] = 'NA'
    df['module_id'] = [k for value in df['module_types'].values for k,v in value.items() if 'NAModule1' in v ]
    df['module_type'] = [v for value in df['module_types'].values for k,v in value.items() if 'NAModule1' in v ]
    df = df[df.module_type == 'NAModule1']
    df['device_info'] = df['_id']+','+ df['module_id']

    
    return df

In [113]:
pd.DataFrame(body)

,_id,place,mark,measures,modules,module_types
0,70:ee:50:65:25:40,"{'location': [-89.213068, 43.095288], 'timezon...",10,{'02:00:00:63:07:a4': {'res': {'1680202283': [...,"[02:00:00:63:07:a4, 05:00:00:08:62:2a, 06:00:0...","{'02:00:00:63:07:a4': 'NAModule1', '05:00:00:0..."
1,70:ee:50:06:11:40,"{'location': [-89.2153407, 43.1107383], 'timez...",10,{'02:00:00:06:0c:36': {'res': {'1680202801': [...,[02:00:00:06:0c:36],{'02:00:00:06:0c:36': 'NAModule1'}
2,70:ee:50:84:2b:d2,"{'location': [-89.2836887, 43.1660273], 'timez...",10,{'02:00:00:84:30:06': {'res': {'1680202764': [...,[02:00:00:84:30:06],{'02:00:00:84:30:06': 'NAModule1'}
3,70:ee:50:06:9e:b4,"{'location': [-89.313558, 43.073576], 'timezon...",10,{'02:00:00:20:fb:56': {'res': {'1680202254': [...,[02:00:00:20:fb:56],{'02:00:00:20:fb:56': 'NAModule1'}
4,70:ee:50:00:96:ea,"{'location': [-89.3310524, 43.0958646], 'timez...",10,{'02:00:00:00:92:e0': {'res': {'1680202307': [...,[02:00:00:00:92:e0],{'02:00:00:00:92:e0': 'NAModule1'}
5,70:ee:50:2a:e1:a6,"{'location': [-89.3501567840523, 43.1277029077...",10,{'02:00:00:32:fb:fa': {'res': {'1680202621': [...,[02:00:00:32:fb:fa],{'02:00:00:32:fb:fa': 'NAModule1'}
6,70:ee:50:20:c2:c8,"{'location': [-89.384012, 43.138837], 'timezon...",10,{'02:00:00:20:e0:7a': {'res': {'1680202290': [...,[02:00:00:20:e0:7a],{'02:00:00:20:e0:7a': 'NAModule1'}
7,70:ee:50:6b:87:74,"{'location': [-89.394303, 43.007885], 'timezon...",10,{'02:00:00:6b:84:a4': {'res': {'1680202488': [...,[02:00:00:6b:84:a4],{'02:00:00:6b:84:a4': 'NAModule1'}
8,70:ee:50:06:9d:34,"{'location': [-89.317055, 43.00042], 'timezone...",10,{'02:00:00:05:c6:06': {'res': {'1680202206': [...,"[02:00:00:05:c6:06, 06:00:00:04:6e:a0]","{'02:00:00:05:c6:06': 'NAModule1', '06:00:00:0..."
9,70:ee:50:71:37:5c,"{'location': [-89.303895, 43.019654], 'timezon...",10,{'02:00:00:71:5e:f0': {'res': {'1680202576': [...,"[02:00:00:71:5e:f0, 06:00:00:05:44:c2]","{'02:00:00:71:5e:f0': 'NAModule1', '06:00:00:0..."
10,70:ee:50:1b:20:40,"{'location': [-89.408794, 43.06395], 'timezone...",10,{'02:00:00:31:cb:0c': {'res': {'1680202513': [...,[02:00:00:31:cb:0c],{'02:00:00:31:cb:0c': 'NAModule1'}
11,70:ee:50:05:f7:ac,"{'location': [-89.5094221, 43.0704332], 'timez...",10,{'02:00:00:34:00:fc': {'res': {'1680202703': [...,[02:00:00:34:00:fc],{'02:00:00:34:00:fc': 'NAModule1'}
12,70:ee:50:28:db:4e,"{'location': [-89.504201, 43.0924018], 'timezo...",10,{'02:00:00:28:d9:42': {'res': {'1680202402': [...,[02:00:00:28:d9:42],{'02:00:00:28:d9:42': 'NAModule1'}
13,70:ee:50:22:a6:68,"{'location': [-89.496442, 43.1087128], 'timezo...",10,{'02:00:00:31:ca:d4': {'res': {'1680202557': [...,"[02:00:00:31:ca:d4, 05:00:00:03:7f:4e]","{'02:00:00:31:ca:d4': 'NAModule1', '05:00:00:0..."
14,70:ee:50:19:07:0e,"{'location': [-89.4672218, 43.126798], 'timezo...",1,{'02:00:00:19:22:fa': {'res': {'1680202495': [...,[02:00:00:19:22:fa],{'02:00:00:19:22:fa': 'NAModule1'}
15,70:ee:50:71:38:3a,"{'location': [-89.44395, 43.039115], 'timezone...",10,{'02:00:00:71:19:98': {'res': {'1680202455': [...,"[02:00:00:71:19:98, 05:00:00:08:57:22]","{'02:00:00:71:19:98': 'NAModule1', '05:00:00:0..."
16,70:ee:50:64:f9:0c,"{'location': [-89.471344, 43.064747], 'timezon...",10,{'02:00:00:65:24:d2': {'res': {'1680202312': [...,[02:00:00:65:24:d2],{'02:00:00:65:24:d2': 'NAModule1'}

In [35]:
p = [list(k) for k in [x.split(',') for x in dfx.device_info]]

In [56]:
df.place[0]

{'location': [-89.213068, 43.095288],
 'timezone': 'America/Chicago',
 'country': 'US',
 'altitude': 274,
 'city': 'Village of Cottage Grove',
 'street': 'Lindsay Way'}

In [95]:
dfx.loc[dfx.device_info==dfx.device_info[2]]['place'].values[0].get('location')

[-89.2836887, 43.1660273]

In [106]:
dfx.loc[2]['place']

{'location': [-89.2836887, 43.1660273],
 'timezone': 'America/Chicago',
 'country': 'US',
 'altitude': 298,
 'city': 'Sun Prairie',
 'street': 'Pleasant Street'}

In [13]:
import requests

def get_netatmo_bearer_token():
    url = "https://api.netatmo.com/oauth2/token"
    payload = {
        "grant_type": "password",
        "client_id": "6426523a81bfec4f400a0677",
        "client_secret": "jN3ZL2OLDB7QRpNkRG4aRrEL118Cirz8",
        "username": "gaurav113.gk@gmail.com",
        "password": "T@sr.!s9T5JntBK",
    }
    response = requests.post(url, data=payload)
    if response.status_code == 200:
        return response.json()["access_token"],response.json()["refresh_token"],
    else:
        print(response)
        raise Exception("Failed to get bearer token")

In [14]:
get_netatmo_bearer_token()

{'access_token': '63c99676f8d0f9304b0cdf3f|2ffd4706f6b566c2c1272fc7e7a7856e',
 'refresh_token': '63c99676f8d0f9304b0cdf3f|80a01b6cd6565191a48040829611320a',
 'scope': ['read_station'],
 'expires_in': 10800,
 'expire_in': 10800}